##	Use absolute paths
##	Leave (??) if not used in the analysis


## Trimmer ##
fastp:	??
skewer:	??
cutadapt:	??
afterqc:	??

## Aligner ##
bwa:	??
star:	??

## Caller ##
gatk:	??
strelkabin:	??
mantabin:	??
salmon:	??

## Utility ##
samtools:	??
sambamba:	??
cnvkit:	??
rscript:	??

## Resources ##
knownsites:	??
reference:	??
annotation:	??
