##	Use absolute paths
##	Leave (??) if not used in the analysis
##	Use path even if executable exists 
##	(e.g /usr/bin/bwa instead of just bwa)


## Trimmer ##
fastp:	/home/axd497/fastp
skewer:	??
cutadapt:	??
afterqc:	??

## Aligner ##
bowtie2: ??
bowtie2build: ??
bwa:	/usr/local/easybuild_allnodes/software/BWA/0.7.17-GCCcore-11.2.0/bin/bwa

## Utility ##
samtools:	/usr/local/easybuild_allnodes/software/SAMtools/1.15-GCC-11.2.0/bin/samtools
bcftools:   /usr/local/easybuild_allnodes/software/BCFtools/1.14-GCC-11.2.0/bin/bcftools
sambamba:	/home/axd497/sambamba-0.8.2-linux-amd64-static
cnvkit:	??
rscript:  ??

## Caller ##
gatk:	/home/axd497/gatk-4.3.0.0/gatk
strelkabin:	??
mantabin:	??

## Resources ##
knownsites:	??
reference:	/mnt/pan/SOM_CCCC_JGS25/durmaza/resources/GRCh38.primary_assembly.genome.fa
